:root {
  --primaryBg: #020300;
  --primaryText: white;
  --primaryLinks: #9e0391;
  --secondaryBg: #111117;
  --secondaryText: #9e0391;
  --secondaryLinks: #9e0391;
  --shadow: black;
  --cardBg: #111117;
  --cardText: white;
  --cardLink: #9e0391;
}
